* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    color: #333333;
    background-color:var(--black);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

:root {
    --primary-red: #e14a4a;
    --secondary-red: #b20b0b;
    --primary-purple: #301d54;
    --text-yellow: #edf585;
    --green-glow: #34d005;
    --black: #000000;
    --white: #ffffff;
    --green-dark: #18221c;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(255, 252, 54, 0.743);
    background: linear-gradient(135deg, #b20b0b 50%, #7e0606 100%);
    color: var(--white);
    font-size: 1.4rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    border-radius: 100px;
}

.home {
    box-shadow: 0 4px 8px var(--black);
    background: var(--secondary-red);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 20px;
    border: 3px solid var(--green-dark);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.home:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.home:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.tracker {
    box-shadow: 0 4px 8px var(--black);
    background: var(--secondary-red);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 20px;
    border: 3px solid var(--green-dark);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.tracker:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.tracker:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


.hero {
    position: relative;    
    width: 100%;
    max-height: 750px;
    margin-bottom: 1.7rem;
    overflow: hidden;
}

.hero img {
    width: 100%;        
    object-fit: cover;
    object-position: center;  
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 252, 54, 0.743);
    z-index: 2;
}

.hero-content h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto 2rem;
}

.cards-section {
    padding: 4rem 0;
    background-color: var(--green-dark);
}

.section-title {
    text-align: center;
    font-size: 2.6rem;
    color: var(--text-yellow);
    margin-bottom: 2.8rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #f44848 50%, #bd1b1b 100%);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(255, 252, 54, 0.743);
}

.card img {
    width: 100%;
    height: 352px;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
}

.card-content h3 {
    color: var(--text-yellow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-content h4 {
    color: var(--text-yellow);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-content p {
    color:var(--text-yellow);
    margin-bottom: 0.5rem;
    line-height: 1.4;
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--text-yellow);
    color: var(--text-yellow);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--text-yellow);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.btn-secondary {
    background-color: var(--text-yellow);
    color: var(--black);
}

.btn-secondary:hover {
    background-color: var(--white);
    transform: translateY(-3px);
    box-shadow:0 5px 8px rgba(255, 252, 54, 0.743);
}
.btn-tertiary {
    background-color: var(--text-yellow);
    color: var(--black);
    float: right;
}

.btn-tertiary:hover {
    background-color: var(--white);
    transform: translateY(-3px);
    box-shadow:0 5px 8px rgba(246, 221, 32, 0.733);
}

/* =========================================== */
@media screen and (min-width: 768px) {
    
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hero-content h1 {
        font-size: 3.5rem;    
    }

}
/* =========================================== */
@media screen and (min-width: 1024px) {

    .cards-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

}